
<body bgcolor="#AFB9DB">
<br>
</br>
<br>
</br>
<center>
  <!--img src="../{{ img_name }}" alt="{{ img_name }}"-->
  <img src="https://ekodaqvkctdbgkvdbfrp.supabase.co/storage/v1/object/public/ai-images/DJ-EHO.png" alt="DJ-EHO" width="150" height="150">
</center>
<center>
  <h2>
    Hi There!! Welcome to EHO-AIGC Engine! 
  </h2>
</center>
<center>
<h2>
	Please input a Title and a Prompt to describe your image below: 
</h2>
</center>
<form method="post">
  <center>
  Title: <input name="title"/>
  <br/><br/>
  </center>
  <center>
  <bold>Prompt: </bold>
  </center>
  <center>
  <!--input name="prompt"/-->
  <textarea id="prompt" name="prompt" rows="4" cols="50"></textarea>
  <br/><br/>
  </center>
  <center>
  <button type="submit">Submit</button>
  </center>
</form>
</body>